/* ==========================================================================
   Email newsletter component
   ========================================================================== */
.newsletter-signup {
    @include clearfix;
    background-color: $gu-brandDark;
    color: $white;
}

.newsletter-signup__leadin {
    padding: rem($gs-gutter / 2);

    @include mq(mem-full) {
        float: left;
        width: rem(gs-span(2));
        padding: rem($gs-baseline / 2) 0 rem($gs-baseline * 3);
        margin-right: rem($gs-gutter);
        margin-left: rem($gs-gutter);
    }
}

.newsletter-signup__title {
    color: $white;
}

.newsletter-signup__content {
    padding: 0 rem($gs-gutter / 2);

    @include mq(mem-full) {
        float: left;
        width: rem(gs-span(12));
        padding: rem($gs-gutter / 2) 0 0 0;
    }
}

.newsletter-signup__close {
    text-align: right;
}
