/* ==========================================================================
   Sign out component
   ========================================================================== */
.signout {
    @include fs-data(4);
    color: $white;
    margin-top: rem($gs-baseline);

    a {
        color: $white;
    }
}
